
<h1>About</h1>
<p>
 This palindrome detector can detext both <b>Text</b> and <b> Numbers </b>.<br />
 For example:
 <pre>
A man,a plan,a canal-Panama! ✅
12321                        ✅
A fox                        ❌
 </pre>
</p>
  