<h1>Palinfrome Detector App</h1>
  <p>
    Test your wordplay skills! Enter any text and instantly discover if it reads the same forwards and backward. It's palindrome perfection at your fingertips.
  <p>
     Click the
     <a href="https://en.wikipedia.org/wiki/Sator_Square"> Sator Square</a> below to run the custom 
     <a href="/palindrome"> Palindrome Detector</a>.
  </p>
  <a class="sator-square" href="/palindrome">
    <img src="/images/sator_square.jpg" alt="Sator Square" />
  </a>
 