<form id="palindrome_tester" action="/check" method="post">
  <textarea name="phrase" rows="10" cols="70"></textarea>
  <br>
  <button class="form-submit" type="submit"> Is it a apalindrome?</button>
</form>